@import "../App.scss";

.job {
  height: 100%;
  position: relative;

  &__header {
    background-color: #5da5a4;
    width: 100%;
  }

  &__filter {
    background-color: $color-white;
    padding: 2rem 3.5rem;
    color: $color-primary;
    font-weight: 700;
    width: 80%;
    max-width: 120rem;
    border-radius: 5px;
    box-shadow: 0 1.5rem 2rem rgba($color-secondary-darker, 0.2);
    border-left: 3px solid transparent;
    transition: $transition;
    margin: 0 auto;
    margin-top: -5rem;

    display: flex;
    justify-content: space-between;
    animation: 0.2s fadeIn forwards ease-in-out;

    &-clear {
      margin-left: auto;
      border: none;
      background-color: transparent;
      font-weight: 700;
      color: $color-secondary-dark;
      cursor: pointer;
      transition: $transition;

      &:hover {
        color: $color-primary;
        text-decoration: underline;
      }
    }
  }

  &__filter-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
  }

  &__filter-item {
    width: min-content;
    border-radius: 5px;
    background-color: $color-secondary-filters;
    cursor: pointer;
    transition: $transition;
    overflow: hidden;
    margin: 1rem 0;
    border: none;
    color: $color-primary;
    font-weight: 700;

    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &--text {
      padding: 1.2rem;
    }

    &--remove {
      background-color: $color-primary;
      padding: 1rem;
      transition: $transition;
    }

    &:hover &--remove {
      background-color: $color-secondary-darker;
    }
  }

  &__filter-remove {
    background-color: $color-primary;
    padding: 1.2rem;
  }

  &__inner {
    margin: 4rem 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .job__filter {
    padding: 1rem 1.5rem;
    width: 85%;
  }
}
